:root {
    --font-family-primary: 'Inter', sans-serif;
    --content-width: 1200px;
    --category-width: 48px;
    --gift-banner-width: 144px;
    --gift-banner-height: 20px;
    /* Icon Sizes */
    --icon-size-xl: 44px;
    --icon-size-lg: 40px;
    --icon-size-md: 32px;
    --icon-size-sm: 24px;
    --icon-size-2xs: 20px;
    --icon-size-xs: 16px;
    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    /* Heading Sizes */
    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 28px;
    --font-size-h4: 24px;
    --font-size-h5: 20px;
    --font-size-h6: 18px;
    --font-size-h7: 16px;
    --font-size-h8: 14px;
    --font-size-h9: 12px;
    --line-height-h1: 56px;
    --line-height-h2: 48px;
    --line-height-h3: 40px;
    --line-height-h4: 36px;
    --line-height-h5: 32px;
    --line-height-h6: 26px;
    --line-height-h7: 24px;
    --line-height-h8: 20px;
    --line-height-h9: 16px;
    /* Body Sizes line height */
    --font-size-body-lg: 18px;
    --font-size-body-md: 16px;
    --font-size-body-xsm: 14px;
    --font-size-body-sm: 12px;
    --font-size-body-xs: 12px;
    --font-size-body-tiny: 10px;
    --font-size-body-tiny-super: 9px;

    --line-height-body-sm: 20px;
    --line-height-body-lg: 28px;
    --line-height-body-md: 24px;
    --line-height-body-xsm: 20px;
    --line-height-body-xs: 18px;
    --line-height-body-tiny: 16px;
    --line-height-body-tiny-super: 16px;
    --line-height-body-tiny-super-2: 14px;
    /* Primary (Dark Blue) */
    --darkblue-100: #e6f1fe;
    --darkblue-200: #adc8d7;
    --darkblue-300: #7498cf;
    --darkblue-400: #3c8687;
    --darkblue-500: #025CA6;
    --darkblue-600: #023E56;
    --darkblue-700: #02365F;
    --darkblue-800: #01182b;
    /* Primary (Blue scale) */
    --primary-100: #e6f3ff;
    --primary-200: #adcee8;
    --primary-300: #74a8d2;
    --primary-400: #3b82bc;
    --primary-500: #025CA6;
    --primary-600: #034a82;
    --primary-700: #02365f;
    --primary-800: #01223c;
    /* Yellow */
    --secondary-100: #ffffe6;
    --secondary-200: #fdf9b3;
    --secondary-300: #fdf581;
    --secondary-400: #fcf14f;
    --secondary-500: #FBED1D;
    --secondary-600: #f4d915;
    --secondary-700: #b8b30e;
    --secondary-800: #524d07;
    --accent1-100: #ffffe6;
    --accent1-200: #fdf9b3;
    --accent1-300: #fdf581;
    --accent1-400: #fcf14f;
    --accent1-500: #FBED1D;
    --accent1-600: #f4d915;
    --accent1-700: #b8b30e;
    --accent1-800: #524d07;
    /* Red */
    --error-100: #fbd8db;
    --error-200: #f7baba;
    --error-300: #f2868e;
    --error-400: #f46262;
    --error-500: #F13636;
    --error-600: #fba229;
    --error-700: #841c1c;
    --error-800: #4e0f0f;
    --accent2-100: #fbd8db;
    --accent2-200: #f7baba;
    --accent2-300: #f2868e;
    --accent2-400: #f46262;
    --accent2-500: #F13636;
    --accent2-600: #fba229;
    --accent2-700: #841c1c;
    --accent2-800: #4e0f0f;
    /* Orange */
    --warning-100: #fff0e5;
    --warning-200: #ffd8af;
    --warning-300: #ff8580;
    --warning-400: #ff9040;
    --warning-500: #FF6B00;
    --warning-600: #ef5000;
    --warning-700: #803600;
    --warning-800: #401B00;
    --accent3-100: #fff0e5;
    --accent3-200: #ffd8af;
    --accent3-300: #ff8580;
    --accent3-400: #ff9040;
    --accent3-500: #FF6B00;
    --accent3-600: #ef5000;
    --accent3-700: #803600;
    --accent3-800: #401B00;
    /* Green */
    --success-100: #ebf9eb;
    --success-200: #d0ebc0;
    --success-300: #94d494;
    --success-400: #68cf68;
    --success-500: #3CC13C;
    --success-600: #309530;
    --success-700: #226a22;
    --success-800: #143f14;
    /* Grey */
    --neutral-100: #F5F5F5;
    --neutral-150: #EFEFEF;
    --neutral-200: #D0D1D4;
    --neutral-300: #A1A4AA;
    --neutral-400: #737780;
    --neutral-500: #444955;
    --neutral-600: #333740;
    --neutral-700: #22252B;
    --neutral-800: #111215;
    /* Basic */
    --black: #111215;
    --white: #ffffff;
    --neutral-white: #ffffff;
    --color-surface-page: var(--neutral-100);
    --color-surface-primary: var(--neutral-white);
    --color-surface-action: var(--primary-500);
    --color-surface-success: var(--success-100);
    --color-surface-disabled: var(--neutral-100);
    --color-surface-disabled-selected: var(--neutral-400);
    --color-surface-error: var(--error-100);
    --color-surface-warning: var(--warning-100);
    --color-surface-accent-1: var(--accent1-100);
    --color-surface-accent-2: var(--accent2-100);
    --color-surface-accent-3: var(--accent3-100);
    --color-surface-action-hover: var(--primary-600);
    --color-surface-dark-blue: var(--primary-700);
    --color-surface-action-hover-2: #E6F3FF;
    --color-surface-error: #FDE7E7;

    /* Text Colors */
    --color-text-heading: var(--neutral-700);
    --color-text-body: var(--neutral-600);
    --color-text-action: var(--primary-500);
    --color-text-action-hover: var(--primary-600);
    --color-text-disabled: var(--neutral-400);
    --color-text-information: var(--primary-500);
    --color-text-success: var(--success-500);
    --color-text-warning: var(--warning-500);
    --color-text-error: var(--error-500);
    --color-text-accent: var(--secondary-500);
    --color-text-accent-2: var(--accent2-500);
    --color-text-accent-3: var(--accent3-500);
    --color-text-on-action: var(--neutral-white);
    --color-text-on-disabled: var(--neutral-500);
    /* Icon Colors */
    --icon-primary: var(--neutral-500);
    --icon-on-disabled: var(--neutral-700);
    --icon-action: var(--primary-500);
    --icon-disabled: var(--neutral-300);
    --icon-action-hover: var(--primary-600);
    --icon-success: var(--success-500);
    --icon-warning: var(--accent3-500);
    --icon-error: var(--error-500);
    --icon-accent: var(--secondary-500);
    --icon-accent-2: var(--accent2-500);
    --icon-on-action: var(--neutral-white);
    --icon-information: var(--primary-500);
    /* Border Colors */
    --border-primary: var(--neutral-200);
    --border-hover: var(--neutral-200);
    --border-action: var(--primary-500);
    --border-information: var(--primary-100);
    --border-success: var(--success-500);
    --border-warning: var(--warning-500);
    --border-error: var(--error-500);
    --border-light: var(--neutral-150);
    --border-accent-1: var(--accent1-500);
    --border-accent-2: var(--accent2-500);
    --border-accent-3: var(--accent3-500);
    --border-disabled: var(--neutral-300);
    --border-action-hover: var(--primary-600);
    --border-focus: var(--primary-500);
    --border-width-none: 0px;
    --border-width-sm: 1px;
    --border-width-md: 2px;
    --border-width-lg: 4px;
    --border-width-2xl: 16px;
    --border-width-6: 6px;
    --border-width-8: 8px;
    --radius-none: 0px;
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-md-outline: 6px;
    --radius-lg: 8px;
    --radius-lg-outline: 10px;
    --radius-xl: 12px;
    --radius-xl-outline: 14px;
    --radius-2xl: 16px;
    --radius-2xl-outline: 18px;
    --radius-3xl: 20px;
    --radius-4xl: 28px;
    --radius-5xl: 36px;
    --radius-full: 64px;
    --spacing-none: 0px;
    --spacing-3xs: 2px;
    --spacing-2xs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 20px;
    --spacing-xl: 24px;
    --spacing-2xl: 28px;
    --spacing-3xl: 32px;
    --spacing-3xl: 32px;
    --spacing-huge: 40px;
    --spacing-none: 0px;
    --spacing-4: 4px;
    --spacing-5: 5px;
    --spacing-6: 6px;
    --spacing-7: 7px;
    --spacing-14: 14px;
    --spacing-20: 20px;
    --spacing-30: 30px;
    --spacing-36: 36px;
    --spacing-70: 70px;
    --spacing-60: 60px;
    --shadow-color: rgba(2, 92, 166, 0.15);
    --shadow-sm: 0px 2px 6px var(--shadow-color);
    --shadow-md: 0px 4px 8px var(--shadow-color);

    --scale-50: 2px;
    --scale-100: 4px;
    --scale-200: 8px;
    --scale-1600: 64px;


    /* padding */
    --padding-xs: 8px;
    --padding-xl: 24px;
    --padding-3xs: 2px;
    --padding-2xs: 4px;
    --padding-sm: 12px;
    --padding-md: 16px;
    --padding-lg: 20px;
    --padding-4: 4px;

    /* custom */
    --h-40: 40px;
    --mb-16: 16px;
    --p-10: 10px;
    --spacing-10: 10px;
    --spacing-15: 15px;
    --w-4: 4px;
    --w-6: 6px;
    --w-16: 16px;
    --w-120: 120px;
    --h-116: 116px;
    --h-32: 32px;
    --w-27: 27px;
    --h-20: 20px;
    --h-24: 24px;
    --h-36: 36px;
    --w-20: 20px;
    --h-150: 150px;
    --h-149: 149px;
    --w-278: 278px;
    --h-92: 92px;
    --h-197: 197.33px;
    --h-105: 105px;
    --h-48: 48px;
    --h-49: 49px;
    --h-84: 84px;
    --w-187: 187.2px;
    --h-195: 195.2px;
    --w-155: 155px;
    --w-415: 415.2px;
    --w-54: 54px;
    --h-82: 82px;
    --w-103: 103px;
    --w-149: 149px;
    --h-492: 492px;
    --w-241: 241px;
    --h-496: 496px;
    --w-398: 398px;
    --w-56: 56px;
    --w-32: 32px;
    --h-38: 38px;
    --h-52: 52px;   
    --h-29: 29px;
    --w-44: 44px;

    /* custom color */
    --header-top-color: rgba(8, 37, 76, 255);
    --header-container-height: 68px;
    --overlay-color: rgba(0, 0, 0, 0.5);
}