/* adventage */
.advantage{
    margin-bottom: 45px;
}
.advantage .list {
    display: flex;
    gap: var(--spacing-md);
    padding: var(--spacing-3xl) var(--spacing-lg);
    justify-content: space-between;
}

.advantage-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: center;
    justify-content: center;
    width: var(--w-278);
    height: var(--h-92);
}

.advantage .advantage-item .icon {
    background-color: var(--color-surface-action-hover-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-xs);
    border-radius: var(--radius-full);
}

.advantage .advantage-item .info {
    text-align: center;
}

.advantage .advantage-item .info h6 {
    font-size: var(--font-size-h8);
    line-height: var(--line-height-h8);
    font-weight: var(--font-weight-bold);
}

.advantage .advantage-item .info p {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
}

/* end advantage */
.footer {
    color: var(--color-text-body);
}

.footer a {
    text-decoration: none;
    color: var(--color-text-body);
}

.footer-top {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface-primary);
}

.footer-branch {
    border-bottom: var(--border-width-sm) solid var(--neutral-200);
}

.footer-branch>div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    padding: var(--spacing-md) 0;
}

.footer-branch h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
    font-weight: var(--font-weight-semibold);
}

.footer-branch>div>.btn-branch {
    display: inline-block;
    padding: var(--padding-2xs) var(--padding-sm);
    background-color: var(--primary-500);
    border-radius: var(--radius-lg);
    color: var(--color-text-on-action);
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
}

.footer-content {
    width: var(--content-width);
    margin: 0 auto;
}

.footer-content>div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-30);
    justify-content: space-between;
    padding: var(--spacing-md) 0;
}

.footer-column h6 {
    font-size: var(--font-size-h8);
    line-height: var(--line-height-h8);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xs);
}

.footer-column {
    height: fit-content;
}

.footer-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-column:first-child ul {
    gap: var(--spacing-md);
}

.footer-column ul li a,
.footer-column ul li,
.footer-column ul li p {
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-lg);
}

.footer-column:first-child ul li {
    line-height: normal;
}

.footer-column:last-child h6,
.footer-column:last-child h4 {
    margin-bottom: var(--spacing-sm);
}

.footer-column .payment-methods {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
}

.footer-column .payment-methods .payment-method-item{
    width: var(--w-54);
    height: var(--h-32);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: var(--border-width-sm) solid var(--neutral-100);
}

.footer-column .payment-methods .payment-method-item span {
    color: var(--error-500);
    font-weight: var(--font-weight-bold);
}

.footer-column .payment-methods .payment-method-item img {
    width: 100%;
    height: 100%;
    object-fit: none;
}


.footer-column .view-more {
    color: var(--primary-500);
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.footer-column .social-icons a {
    margin-right: var(--spacing-sm);
}

.footer-highlight {
    font-weight: var(--font-weight-bold);
}

.footer-middle {
    background-color: var(--color-surface-primary);
    border-top: var(--border-width-sm) solid var(--neutral-200);
}

.footer-middle>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--spacing-lg) 0;
    width: var(--content-width);
    margin: 0 auto;
}

.footer-middle .distributors .brands {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2xl);
}

.footer-middle .distributors .brands .brand-item{
    border: var(--border-width-sm) solid var(--neutral-100);
    width: var(--w-103);
    height: var(--icon-size-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-middle .distributors p,
.footer-middle .hotel p {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h8);
    margin-bottom: var(--mb-16);
    
}

.footer-middle .hotel p{
    display: flex;
    gap: var(--spacing-xs);
}

.footer-middle .hotel img {
    margin-right: var(--spacing-6);
}

.certificates{
    display: flex;
    gap: var(--spacing-xs);
    height: var(--h-32);
    align-items: center;
}

.hotel .branches {
    height: var(--h-49);
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.hotel .branches span {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h8);
    line-height: var(--line-height-h8);
    color: var(--color-text-heading);
}

.footer-bottom {
    background-color: var(--color-surface-page);
    padding-top: var(--spacing-sm);
    height: var(--h-82);
    text-align: center;
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    
}

.footer-bottom p {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    
}

.footer-bottom .view-more {
    color: var(--primary-500);
    font-size: var(--font-size-body-sm);
}

.hidden {
    display: none !important;
  }
  
.view-more.collapse {
    color: var(--primary-500);
}
.social-icons{
    margin-bottom: 24px;
}
.payment-methods{
    margin-bottom: 24px;
}