.tieu_de {
    font-size: var(--font-size-h2);
    color: var(--color-surface-action);
}
.max-width{
    font-family: var(--font-family-primary);  
}
.content{
  font-family: var(--font-family-primary);   
  background-color: var(--color-surface-page);
}
.max-width {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.box_breadcrumb {
    padding: var(--padding-sm) 0;
    max-width: var(--content-width);
    margin: 0 auto;
}
.box_breadcrumb-item {
    display: inline-block;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body-xsm);
    color: var(--color-surface-action);
}
.box_breadcrumb ul li{
    display:  inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
.box_breadcrumb ul li a{
    color: var(--color-surface-action);
}
#breadcrumbparent a{
    color: var(--color-text-on-disabled);
}
.box_breadcrumb ul li h1{
    color: var(--color-surface-action);
}
.box_breadcrumb ul{
    display: flex;
    align-items: center;
}
.box_breadcrumb ul li svg{
    padding-top: var(--padding-4);
    margin-top: 2px;
}
ul li {
    list-style: none;
}
.box_tabs1 .home a{
    display: flex;
    align-items: center;
    border-radius: var(--radius-full);
    border: 1px solid var(--border-primary);
    padding: var(--padding-2xs) var(--padding-sm);
    font-size: var(--font-size-body-xsm);
}
.box_tabs1 .home a img{
    margin-right: 8px;
}
.tabs{
   width: 100%;
    background-color: var(--color-surface-primary);
    padding-top: var(--padding-lg);
    padding-bottom: var(--padding-lg); 
    margin-bottom: var(--padding-md);
}
.box_tabs1 {
    display: flex;
    align-items: center;
    position: relative;
   margin: auto;
   max-width: var(--content-width);
}
.box_tabs1 a{
    padding: var(--padding-2xs) var(--padding-sm);
    font-size: var(--font-size-body-xsm);
}
.box_tabs1 li::after{
    opacity: 1;
    background: var(--border-primary);
    content: " ";
    position: absolute;
    height: 12px;
    top: 10px;
    width: 1px;
}
.box_tabs1 li:last-child::after{
    opacity: 0;
    color: var(--border-primary);
    content: " ";
    position: absolute;
}
.box_tabs1 li:first-child::after{
    opacity: 0;
    color: var(--border-primary);
    content: " ";
    position: absolute;
}
.custom--experience .experience {
    padding-bottom: 40px;
    border-bottom: none;
}
.custom--experience .header {
    margin-bottom: 12px;    
    color: var(--color-text-heading);
    font-size: var(--font-size-h2);
}
.custom--experience .banners {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}
.custom--experience .banners > div {
    width: 50%;
}
.custom--experience .banner--group {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    align-content: space-between;
}
.custom--experience .banner--group .banner-item {
    width: 48%;
    margin-right: 20px;
    position: relative;
    background: var(--color-surface-primary);
    padding: var(--padding-md);
    border-radius: var(--radius-lg);
}
.custom--experience .banner--group .banner-item .detail .tag{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
}
.custom--experience .banner--group .banner-item .detail .tag img{
    margin-right: 4px;
    width: auto;
}
.custom--experience .banner--group .banner-item .detail .tag .time{
    margin-right: 12px;
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body-sm);
}
.custom--experience .banner--group .banner-item .detail .tag .tac_gia{
    margin-left: 8px;
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body-sm);
}
.custom--experience .banner_big{
    padding-right: var(--padding-lg);
    position: relative;

}
.custom--experience .banner--group .banner-item .detail h3{
    font-size: var(--font-size-h5);
    margin-top: 8px;
    font-weight: var(--font-weight-semibold);
    line-height: 28px;
}
.custom--experience .swiper-slide .detail .tag{
    display: flex;
    align-items: center;
    font-size: var(--font-size-body-sm);
}
.custom--experience .swiper-slide .detail .tag img{
    margin-right: 4px;
}
.custom--experience .swiper-slide .detail .tag .time{
    margin-right: 12px;
}
.custom--experience .swiper-slide .detail .tag .tac_gia{
    margin-left: 8px;
}
.custom--experience .swiper-slide .detail{
    position: absolute;
    bottom: 0;
    color: var(--color-text-on-action);
    padding: 0px var(--padding-lg) 32px var(--padding-lg);
   text-align: left; 
   line-height: 34px;
}
.custom--experience.cate .swiper-slide .detail{
    position: absolute;
    bottom: 0;
    color: var(--color-text-on-action);
    padding: 0px var(--padding-lg) var(--padding-sm) var(--padding-lg);
   text-align: left;
   line-height: 34px; 
}
.custom--experience .swiper-slide{
    position: relative;
}
.custom--experience .swiper-slide .detail .tag img{
    width: auto;
}

.custom--experience .swiper-slide .detail h3{
    font-size: var(--font-size-h4);
    line-height: 34px;
    font-weight: var(--font-weight-semibold);
    
}
.custom--experience .swiper-slide .detail.noibat h3{
    margin-bottom: 10px;
}
.custom--experience .swiper-pagination-bullet.swiper-pagination-bullet-active{
    
    width: 16px !important;
   height: 6px;
    border-radius: var(--radius-3xl) !important;
background: var(--icon-action) !important;
}
.custom--experience .swiper-pagination-bullet{
    background: var(--neutral-200);
}
.custom--experience .experience_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom--experience .experience_header .more{
    display: flex;
    align-items: center;
}
.custom--experience .experience_header .more span{
    color: var(--color-text-action);
    font-size: var(--font-size-body-md);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body-md);
}
.custom--experience .swiper-slide .detail .feeling{
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.custom--experience .swiper-slide .detail .feeling .interact{
    display: flex;
    align-items: center;
}
.custom--experience .swiper-slide .detail .feeling .interact img{
    margin-right: 8px;
}
.custom--experience .swiper-slide .detail .feeling .horizontal{
    right: 20px;
    position: absolute;
}

.topic h1{
    font-size: var(--font-size-h2);
}
.box-quicklink {
    display: flex;
    margin-top: 12px;
    margin-bottom: 40px;
}
.lst-quicklink {
    display: flex;
    width: 100%;
}
.box-quicklink_item {
    align-items: center;
    text-align: center;  
    display: flex;
    margin-right: 20px;
    vertical-align: top;
    background-color: var(--color-surface-primary);
    overflow: hidden;
    border-radius: var(--radius-lg);
    position: relative;
}
.box-quicklink_item:last-child{
    margin-right: 0px;
}
.topic .title_topic{
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-text-on-action);
    font-size: var(--font-size-h5);
    width: 100%;
}

.custom--video {
    display: flex;
    padding-bottom:40px;
}
.custom--video .right {
    margin-right: 20px;
    width: 800px;
    border-radius: var(--radius-2xl);
    padding: var(--padding-md) var(--padding-lg);
}
.custom--video .right h2 {
    font-size: var(--font-size-h2);
    color: var(--color-text-heading);
    margin-bottom: 8px;
    font-weight: var(--font-weight-semibold);
    line-height: 44px;
}
.list_exp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
.cl_exp_1 .list_exp .list_exp_boxasked .flexd {
    display: flex;
}
.cl_exp_1 .list_exp .list_exp_boxasked a {
    margin-left: 0px;
}
.cl_exp_1 .list_exp .exp_item.flexd:not(:first-child) {
    border-top: 1px solid var(--border-primary);
    padding-top: var(--padding-lg);
}
.cl_exp_1 .list_exp .exp_item.flexd {
    width: 100%;
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: var(--padding-lg);
    margin-bottom: 0px;
}
.exp_item.flexd {
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    border: none;
    padding: 0px;
    margin-left: 10px;
}
.exp_item{
    display: none;
}
.cl_exp_1 .list_exp .exp_item.flexd .detail {
    width: calc(100% - 220px);
    margin-left: 16px;
}
.cl_exp_1 .list_exp .detail h3 {
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-semibold);
    line-height: 28px;
}

.list_exp .detail p {
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
    margin-top: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 40px;
    overflow: hidden;
    font-weight: var(--font-weight-medium);
}
.list_exp .tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.list_exp .tag .tag_detail{
    display: flex;
    align-items: center;
}

.see_more_exp .button_more {
    display: flex;
    align-items: center;
    border-radius: var(--radius-full);
    border: 1px solid var(--border-action);
    padding: var(--padding-xs) 32px;
    font-size: var(--font-size-body-md);
    color: var(--color-text-action);
    box-sizing: border-box;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body-md);
}
.see_more_exp {
    text-align: center;
}

.see_more_top .button_more {
    display: flex;
    align-items: center;
    font-size: var(--font-size-body-md);
    color: var(--color-text-action);
    box-sizing: border-box;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body-md);
}

.custom--video .left{
    background-color: var(--color-surface-primary);
     padding: var(--padding-md) var(--padding-lg);
     width: 380px;
    border-radius: var(--radius-2xl);
}

.custom--video .left h2 {
    color: var(--color-text-heading);
    font-size:var(--font-size-h2);
    margin-bottom: 8px;
}
.custom--video .list_top .item.show {
    padding-top: 0px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
}
.custom--video .list_top .item.show .detail p {
     font-size: var(--font-size-body-xsm);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 84px;
    overflow: hidden;
    margin-left: 12px;
   
}
.custom--video .list_top .item{
    display: none;
}
.custom--video .tag img{
    margin-right: 4px;
    width: auto;
}
.custom--video .tag .time{
    margin-right: 12px;
    font-size: var(--font-size-body-sm);
}
.custom--video .tag .tac_gia{
    margin-left: 8px;
    font-size: var(--font-size-body-sm);
}
.viewmore svg.show{
    transform: rotate(180deg);
}
.cate_note_content .content_cate.show{
    height:  auto;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: 54px;
    border-radius: var(--radius-lg);
border: 1px solid var(--border-primary);
background: var(--color-surface-page);
left: 45%;
height: 14px;
bottom: 18px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    border-radius: var(--radius-3xl);
background: var(--neutral-200);
opacity: 1;
margin-bottom: 6px;
height: 6px;
width: 6px;
margin-left: 2px;
margin-right: 2px;
}