@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inters/Inter-Medium.eot');
    src: url('../fonts/Inters/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inters/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inters/Inter-Medium.woff') format('woff'),
        url('../fonts/Inters/Inter-Medium.ttf') format('truetype'),
        url('../fonts/Inters/Inter-Medium.svg#Inter-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inters/Inter-SemiBold.eot');
    src: url('../fonts/Inters/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inters/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inters/Inter-SemiBold.woff') format('woff'),
        url('../fonts/Inters/Inter-SemiBold.ttf') format('truetype'),
        url('../fonts/Inters/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inters/Inter-Bold.eot');
    src: url('../fonts/Inters/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inters/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inters/Inter-Bold.woff') format('woff'),
        url('../fonts/Inters/Inter-Bold.ttf') format('truetype'),
        url('../fonts/Inters/Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body-md);
    background-color: var(--neutral-100);
    font-weight: var(--font-weight-medium);
    margin: 0 auto;
    max-width: 100%;
    color: var(--color-text-body);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: 0.2s;
    color: var(--color-text-body);
    font-size: var(--font-size-body-md);
}

p {
    height: var(--line-height-body-sm);
    line-height: var(--line-height-body-sm);
}

button {
    background: none;
    border: none;
}

/* section */
section {
    width: var(--content-width);
    margin: 0 auto var(--spacing-lg) auto;
    background-color: var(--color-surface-primary);
    border-radius: var(--radius-2xl);
    position: relative;
}
header {
    position: relative;
    z-index: 10;
}

header .header-top {
    background-color: var(--header-top-color);
}

header .header-top a img {
    width: var(--content-width);
    margin: auto;
    display: block;
}

header .header-nav {
    background-color: var(--color-surface-dark-blue);
    position: relative;
    transition: all 0.3s ease;
    z-index: 99;
}
header .header-nav .container {
    align-items: normal !important;
}

#header-nav.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

header .header-nav .container {
    display: flex;
    align-items: center;
    gap: var(--spacing-huge);
    justify-content: space-between;
    padding: var(--spacing-sm) 0;
    position: relative;
    z-index: 10;
    width: var(--content-width);
    height: var(--header-container-height);
    margin: 0 auto;
}

.category-nav {
    z-index: 1000;
}

.category-nav .category-button {
    width: var(--w-149);
    padding: var(--padding-3xs) var(--padding-sm);
    gap: var(--spacing-xs);
    display: flex;
    align-items: center;
}

.category-nav:hover .category-button {
    color: var(--accent1-500);
}

.category-nav .category-button .icon svg path {
    stroke: var(--accent1-500);
}

.category-nav .category-button span:nth-child(2) {
    font-weight: var(--font-weight-semibold);
    white-space: nowrap;
    font-family: var(--font-family-primary);
}

.category-nav .category-button .icon {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    min-width: var(--w-398);
    background-color: var(--color-surface-primary);
    border-radius: var(--scale-1600);
    overflow: hidden;
    border: var(--border-width-sm) solid var(--neutral-200);
}

.search-form input {
    flex: 1;
    border: none;
    padding: var(--spacing-10) var(--spacing-15);
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
    outline: none;
}

.search-form button {
    cursor: pointer;
    width: var(--w-56);
}

.header-nav-right {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.branch-link,
.cart-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    white-space: nowrap;
}

.branch-link {
    color: var(--color-text-on-action);
}

.branch-link .icon {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
}

.user-icon .icon {
    background-color: var(--color-surface-primary);
}

.cart-button {
    background-color: var(--color-surface-primary);
    border-radius: var(--radius-full);
}

.user-icon {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-primary);
    border-radius: var(--radius-full);
}

.cart-button {
    gap: var(--padding-sm);
    padding: var(--padding-xs) var(--padding-md);
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
}

.cart-button .icon {
    position: relative;
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
}

.cart-button .cart-count {
    position: absolute;
    top: -6px;
    right: -4px;
    min-width: var(--w-16);
    min-height: var(--w-16);
    text-align: center;
    border-radius: var(--radius-full);
    background-color: var(--icon-error);
    color: var(--color-text-on-action);
    font-size: var(--font-size-body-tiny);
    line-height: var(--line-height-body-tiny);
}

/* Nút Danh mục */
.category-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    background-color: transparent;
    color: var(--accent1-500);
    border: none;
    font-weight: bold;
    font-size: var(--font-size-h7);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 999;
    display: none;
    top: 118px;
}

.overlay.t-68 {
    top: 68px !important;
}

.category-nav:hover + .overlay {
    display: block;
}

.category-button {
    position: relative;
}

.category-nav:hover .category-button::before {
    display: block;
}

.category-button::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: var(--h-20);
    background-color: transparent;
    z-index: 999;
    display: none;
    height: var(--h-32);
}

/* Hiển thị menu khi hover */
.category-nav:hover {
    background: var(--neutral-100);
    border-radius: var(--radius-4xl);
}

.category-nav:hover .category-button,
.category-nav:hover .category-button .icon svg path,
.category-nav:hover .category-button .icon svg {
    color: var(--color-text-body);
    stroke: var(--color-text-body);
}

.category-nav:hover .category-menu {
    display: flex;
    top: var(--spacing-60);
}

/* Menu wrapper */
.category-menu {
    position: absolute;
    left: 0;
    right: 0;
    width: var(--content-width);
    display: none;
    z-index: 1000;
    gap: var(--spacing-sm);
    background-color: var(--color-surface-page);
    border-radius: var(--radius-2xl);
    border-bottom-right-radius: var(--radius-2xl);
}

/* Danh sách danh mục chính */
.category-list {
    margin: 0;
    list-style: none;
    background-color: var(--color-surface-primary);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: var(--h-492);
    width: var(--w-241);
    scroll-behavior: smooth;
    border-top-left-radius: var(--radius-2xl);
    border-bottom-left-radius: var(--radius-2xl);
}

.subcategory-list::-webkit-scrollbar,
.category-list::-webkit-scrollbar {
    width: var(--w-4);
}

.subcategory-list::-webkit-scrollbar-thumb,
.category-list::-webkit-scrollbar-thumb {
    background: var(--border-disabled);
    border-radius: var(--radius-full);
}

.category-item:not(:last-child) {
    border-bottom: var(--border-width-sm) solid var(--neutral-200);
}

.category-item {
    padding: var(--padding-sm);
    font-size: var(--font-size-body-sm);
    position: relative;
    height: var(--h-48);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.subcategory li a span {
    /* width: var(--w-27); */
    white-space: normal;
    display: block;
    word-break: break-word;
}

.subcategory li a figure {
    height: var(--h-52);
}

.category-item svg path {
    stroke: var(--color-text-action);
}

.category-item::before {
    content: '';
    position: absolute;
    top: var(--spacing-20);
    right: -2px;
    width: 0;
    height: 0;
    border-left: var(--border-width-6) solid transparent;
    border-right: var(--border-width-6) solid transparent;
    border-top: var(--border-width-8) solid var(--neutral-200);
    transform: rotate(90deg);
    display: none;
}

.category-item > a {
    display: flex;
    width: 100%;
    color: var(--color-text-body);
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-sm);
    align-items: center;
    gap: var(--padding-xs);
    justify-content: space-between;
}

.category-item span {
    flex: 1;
}

.category-item > a img {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
}

.category-item:hover,
.category-item:hover > a > span,
.category-item:hover > a > svg path {
    color: var(--color-surface-primary);
    background-color: var(--color-surface-dark-blue);
    stroke: var(--color-text-on-action);

}

.category-item.active,
.category-item.active > a > span,
.category-item.active > a > svg path  {
    background-color: var(--color-surface-action);
    color: var(--color-surface-primary);
    stroke: var(--color-text-on-action);
}

.category-item.active::before {
    display: block;
}

.category-item:hover::before {
    display: block;
}

.subcategory-list {
    width: 60%;
    padding: var(--padding-lg) 0 var(--padding-lg);
    position: relative;
    flex: 1;
    background-color: var(--color-surface-primary);
    border-bottom-right-radius: var(--radius-2xl);
    border-top-right-radius: var(--radius-2xl);
    max-height: var(--h-496);
    overflow: auto;
    scroll-behavior: smooth;
}

.subcategory-item {
    display: none;
}

.subcategory-item > div {
    margin-bottom: var(--spacing-lg);
}

.subcategory-item.active {
    display: block;
}

.subcategory-item .subcategory-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-lg);
}

.subcategory-item .subcategory-title h6 {
    font-size: var(--font-size-h8);
    line-height: var(--line-height-h8);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-xs);
}

.subcategory-item .subcategory-title a {
    display: flex;
    align-items: center;
    line-height: var(--line-height-body-xsm);
    font-size: var(--font-size-body-xsm);
    gap: var(--padding-4);
    color: var(--color-text-action);
}

.subcategory {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--spacing-36);
    padding: 0 var(--spacing-lg) 0 var(--spacing-sm);
}

.subcategory ul {
    display: flex;
    flex-wrap: wrap;
    /* gap: var(--spacing-huge); */
}

.subcategory li {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    flex-direction: column;
    /* padding: var(--spacing-sm) var(--spacing-xs); */
    border-radius: var(--radius-xl);
    position: relative;
    width: var(--w-120);
    height: var(--h-116);
    cursor: pointer;
    justify-content: center;
}

.subcategory li a {
    color: var(--color-text-body);
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    text-align: center;
    display: contents;
}



/* end header */
