
/* load-more-btn */

section a.load-more-btn {
    width: fit-content;
    display: flex;
    margin: var(--spacing-md) auto 0;
    align-items: center;
    padding: 0 var(--spacing-2xs) 0 var(--spacing-sm);
    gap: var(--spacing-4);
}

section a.load-more-btn span {
    color: var(--primary-500);
}

/* banner top */
.banner-top {
    margin-top: var(--spacing-md);
}

.banner-top .swiper {
    border-radius: var(--radius-2xl);
}

.banner-top .swiper-slide img {
    height: auto;
    object-fit: cover;
    width: var(--content-width);
}

/* end banner */

.banner {
    background-color: transparent;
    height: var(--h-197);
}

/* categories */
.categories {
    height: var(--h-105);
}

.categories ul .first-visible:hover {
    border-bottom-left-radius: var(--radius-2xl);
    border-top-left-radius: var(--radius-2xl);
}

.categories ul li:hover {
    cursor: pointer;
    background-color: var(--color-surface-action-hover-2);
}

.categories ul .last-visible:hover {
    border-bottom-right-radius: var(--radius-2xl);
    border-top-right-radius: var(--radius-2xl);
}

.categories ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-10);
}

.categories ul li img {
    width: var(--h-48);
    height: var(--h-48);
    object-fit: contain;
    border-radius: initial;
}

.categories ul li a p {
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
}

/* end categories */

/* hot-promotion */
.hot-promotion {
    background-color: var(--accent3-100);
    padding: var(--spacing-md) 0;
}

.hot-promotion .product-swiper-wrapper {
    display: none;
}

.hot-promotion .product-swiper-wrapper.active {
    display: block;
}

.hot-promotion .heading {
    position: relative;
}

.hot-promotion > div {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
}

.hot-promotion .title {
    gap: var(--spacing-md);
    display: flex;
}

.hot-promotion .title h3 span {
    color: var(--color-text-error);
}

/* heading */
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--h-40);
    margin-bottom: var(--mb-16);
}

.title h3 {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
}

.title h3 span {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-heading);
}

/* end heading */

.countdown-box {
    display: flex;
    justify-content: space-between;
    background: var(--color-surface-primary);
    border-radius: var(--radius-lg-outline);
    padding: var(--spacing-3xs);
    font-size: var(--font-size-body-sm);
    color: var(--color-text-heading);
}

.countdown {
    display: flex;
    align-items: center;
    gap: var(--spacing-5);
    padding-left: var(--spacing-xs);
    padding-right: var(--spacing-xs);
    border-radius: var(--radius-lg-outline);
    background-color: var(--color-surface-action-hover-2);
    height: var(--h-40);
}

.countdown > span {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
}

.countdown time {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.countdown b {
    background: var(--accent2-500);
    border-radius: var(--radius-md);
    line-height: var(--line-height-h9);
    color: var(--color-text-on-action);
    height: var(--h-20);
    width: var(--w-32);
    font-weight: var(--font-weight-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--spacing-xs);
}

.event {
    display: flex;
    align-items: center;
    gap: var(--spacing-5);
    padding: var(--spacing-3xs) var(--spacing-xs);
}

.event > span {
    line-height: var(--line-height-body-sm);
}

.event time {
    background: var(--color-surface-disabled-selected);
    padding: var(--padding-3xs) var(--padding-xs);
    border-radius: var(--radius-md);
    line-height: var(--line-height-h9);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-on-action);
}

/* hot-promotion .categories */

.hot-promotion .categories {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-md);
    background-color: var(--color-surface-primary);
    border-radius: var(--radius-lg);
    margin-top: var(--spacing-15);
    min-height: var(--h-84);
    width: 100%;
}

.hot-promotion .categories ul {
    display: flex;
}

.hot-promotion .categories ul li {
    list-style: none;
    cursor: pointer;
    padding: var(--padding-sm) 0;
    border-bottom: var(--border-width-md) solid transparent;
}

.hot-promotion .categories ul li.active {
    color: var(--primary-500);
    background-color: var(--color-surface-action-hover-2);
    border-bottom: var(--border-width-md) solid var(--border-action);
}

.hot-promotion .categories ul li a img {
    height: var(--h-32);
    object-fit: contain;
}

.hot-promotion .categories ul li a {
    color: var(--color-text-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
}

.hot-promotion .categories ul li a p {
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
}

.hot-promotion .categories ul li:hover {
    color: var(--primary-500);
    background-color: var(--color-surface-action-hover-2);
    border-bottom: var(--border-width-md) solid var(--border-action);
}

/* hot-promotion__product-list */
.product-list {
    margin-top: var(--spacing-md);
}

.product-swiper-wrapper {
    display: none;
}

.product-swiper-wrapper.active {
    display: block;
}

.product-list > ul > li {
    background: var(--color-surface-primary);
    border-radius: var(--radius-lg);
    position: relative;
    cursor: pointer;
    text-align: left;
    border: var(--border-width-sm) solid var(--border-primary);
    max-width: var(--w-415);
    padding: 0 var(--spacing-md) var(--spacing-sm) var(--spacing-md);
    text-decoration: none;
    color: inherit;
    /* display: block; */
    height: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
}

.product-card .product-top {
    min-height: var(--h-29);
}

.product-card .product-badge {
    background: var(--accent2-500);
    color: var(--color-surface-primary);
    font-weight: var(--font-weight-bold);
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    border-bottom-right-radius: var(--scale-100);
    border-top-left-radius: var(--scale-100);
    padding: var(--scale-50) var(--scale-200);
    font-size: var(--font-size-h8);
    line-height: var(--line-height-h8);
}

.product-card .product-wishlist {
    position: absolute;
    width: var(--icon-size-lg);
    height: var(--h-40);
    border-radius: var(--radius-full);
    padding: var(--padding-xs);
    border: none;
    background-color: transparent;
    right: 0;
    top: 0;
}

.product-card .product-wishlist svg path {
    stroke: var(--primary-500);
}

.product-card .product-image {
    width: var(--w-187);
    height: var(--h-195);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product-card .product-image .product-warranty {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: var(--w-44);
    height: var(--w-44);
}

.product-card .product-image .product-warranty img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card .product-image-wrapper {
    width: var(--w-155);
    height: var(--w-155);
    position: relative;
}

.product-card .product-image-wrapper:hover img {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.product-card .product-image .product-image-wrapper img {
    width: 100%;
    object-fit: contain;
}

.product-card .product-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    flex: 1;
}

.product-card .product-title {
    min-height: var(--h-40);
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: var(--font-weight-medium);
    margin-top: auto;
}

.product-card .product-body > p {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
}

.product-card .product-body > p.text-warning {
    color: var(--accent3-500);
    font-size: var(--font-size-body-tiny);
    line-height: var(--line-height-body-tiny);
}


.product-card .product-variant .variant-list {
    display: flex;
    gap: var(--spacing-6);
    flex-wrap: wrap;
}

.product-card .product-variant .variant-list button:hover{
    border: var(--border-width-sm) solid var(--primary-500);
}

.product-card .product-variant .variant-list button {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    border-radius: var(--radius-lg);
    padding: var(--spacing-2xs) var(--spacing-xs);
    border: var(--border-width-sm) solid var(--neutral-200);
    position: relative;
    cursor: pointer;
}

.product-card .product-variant .variant-list button.active {
    border: var(--border-width-sm) solid var(--primary-500);
}

.product-card .product-variant .variant-list button span {
    display: none;
}

.product-card .product-variant .variant-list button.active > span {
    width: var(--w-16);
    height: var(--w-16);
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: var(--primary-500);
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    border-top-right-radius: var(--radius-lg);
    display: block;
}

.product-card .product-variant .variant-list button.active > span > img {
    position: absolute;
    top: 2.67px;
    left: 7.94px;
    width: var(--w-6);
    height: var(--w-6);
}


.product-card .product-price {
    /* height: var(--h-40); */
}

.product-card .product-price-old {
    text-decoration: line-through;
    font-size: var(--font-size-body-sm);
}

.product-card .product-price-new {
    color: var(--accent2-500);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h7);
    line-height: var(--line-height-h7);
}

.product-card .product-rating {
    height: var(--h-20);
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.product-card .product-rating img {
    width: auto;
    height: auto;
}

.product-card .product-rating span {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
}

.product-card .product-progress {
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-body-sm);
    border-radius: var(--radius-full);
    text-align: center;
    position: relative;
    border: var(--border-width-sm) solid var(--warning-500);
}

.product-card .product-progress p strong {
    position: relative;
    z-index: 1;
    font-weight: var(--font-weight-medium);
}

.product-card .product-progress p span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--warning-500);
    z-index: 0;
    pointer-events: none;
}

.product-card .product-progress p span[style*="width: 100%"] {
    border-radius: var(--radius-full);
}

.product-card .product-progress img {
    position: absolute;
    object-fit: cover;
    left: -12px;
    top: -15px;
    bottom: 0;
    width: auto;
    height: var(--h-38);
    z-index: 1;
}

.product-card > button {
    display: block;
    margin-top: var(--spacing-7);
    width: 100%;
    border: var(--border-width-sm) solid var(--border-action);
    color: var(--color-text-action);
    padding: var(--padding-2xs) var(--padding-sm);
    border-radius: var(--radius-lg);
    cursor: pointer;
    line-height: var(--line-height-body-xsm);
    font-size: var(--font-size-body-xsm);
}

.product-card > button:hover {
    background: var(--color-surface-action-hover-2);
}

.product-card .add-to-cart {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.product-card .add-to-cart img {
    width: var(--icon-size-2xs);
    height: var(--icon-size-2xs);
}

.product-card .product-compare {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    border: none;
    padding-left: 0;
}

.product-card .product-compare:hover {
    background: transparent;
}

.product-card .product-compare img {
    width: var(--icon-size-2xs);
    height: var(--icon-size-2xs);
}

.product-card .product-title-content {
    height: calc(var(--gift-banner-height) + var(--h-38) + var(--spacing-xs));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.product-card .product-gift-banner {
    max-width: var(--gift-banner-width);
    height: var(--gift-banner-height);
}

.product-card .product-propertie {
    display: flex;
    gap: var(--spacing-xs);
    flex-wrap: wrap;
    min-height: var(--h-20);
}

.product-card .product-propertie:first-child {
    margin-bottom: var(--spacing-xs);
}

.product-card .product-propertie button {
    padding: var(--padding-3xs) var(--padding-xs);
    border-radius: var(--radius-full);
    border: none;
    font-size: var(--font-size-body-tiny);
    line-height: var(--line-height-body-tiny);
    background-color: var(--color-surface-page);
    font-family: var(--font-family-primary);
}

.product-card .product-propertie button.new {
    background-color: var(--color-surface-error);
}

/* end product-list */

/* product-recent */
.product-recent .content {
    padding: var(--spacing-lg);
}

.product-recent .tab-list {
    display: flex;
    gap: var(--spacing-sm);
    margin-bottom: var(--mb-16);
}

.product-recent .tab-list > a {
    padding: var(--padding-xs) var(--padding-xl);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    line-height: var(--line-height-h6);
    font-size: var(--font-size-h6);
    cursor: pointer;
    border-bottom: var(--border-width-md) solid transparent;
}

.product-recent .tab-list > a:hover{
    background-color: var(--color-surface-action-hover-2);
    border-bottom: var(--border-width-md) solid var(--primary-500);
}

.product-recent .tab-list > a:hover svg path {
    stroke: var(--primary-500);
}

.product-recent .tab-list a svg path {
    stroke: var(--color-text-body);
}

.product-recent .tab-list a.active {
    border: none;
    border-bottom: var(--border-width-md) solid var(--primary-500);
    color: var(--primary-500);
    font-weight: var(--font-weight-semibold);
}

.product-recent .tab-list a.active svg path {
    stroke: var(--primary-500);
}

/* end product-recent */

.product-recent .tab-content {
    display: none;
}

.product-recent .tab-content.active {
    display: block;
}

/* product-premium */

.product-premium .content,
.product-hot .content {
    padding: var(--spacing-lg);
}

.product-tab {
    height: var(--h-36);
}

.product-tab .tab-list {
    display: flex;
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);
}


.product-tab .tab-list a:hover{
    border: var(--border-width-sm) solid var(--primary-500);
}

.product-tab .tab-list a {
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
    border-radius: var(--radius-lg);
    padding: var(--spacing-xs) var(--spacing-md);
    color: var(--color-text-body);
    border: var(--border-width-sm) solid var(--neutral-200);
    position: relative;
    white-space: nowrap;
}

.product-tab .tab-list a.active {
    border: var(--border-width-sm) solid var(--primary-500);
}

.product-tab .tab-list a span {
    display: none;
}

.product-tab .tab-list a.active > span {
    width: var(--w-20);
    height: var(--h-20);
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: var(--primary-500);
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    border-top-right-radius: var(--radius-lg);
    display: block;
}

.product-tab .tab-list a.active > span > img {
    position: absolute;
    top: 1.67px;
    left: 8.94px;
}

/* end product */

/* promotion-news */
.promotion-news {
    background-color: transparent;
}

.promotion-news .promotion-wrapper {
    position: relative;
}

/* end promotion-news */

/* payment-incentives */
.payment-incentives .title {
    padding-left: var(--spacing-lg);
    padding-top: var(--spacing-lg);
}

.payment-incentives .payment-wrapper {
    position: relative;
    padding: 0 var(--spacing-lg) var(--spacing-md) var(--spacing-md);
}

/* .payment-incentives .payment-wrapper .list .swiper-wrapper .swiper-slide {
    flex: 1;
} */

.payment-incentives .payment-wrapper .list .swiper-wrapper .swiper-slide img {
    height: var(--h-150);
}

/* end payment-incentives */

/* product-propose */
.product-propose .content {
    padding: var(--spacing-md) var(--spacing-lg) var(--spacing-lg) var(--spacing-md);
}

/* end product-propose */

/* news */
.news .content {
    padding: var(--spacing-md) var(--spacing-md) 0 var(--spacing-lg);
}

.news .content .product-tab {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
}

.news .content .product-tab .tab-list {
    margin-top: 0;
}

.news .content .title {
    margin-bottom: 0;
}

.news .content .new-list {
    margin-top: var(--spacing-md);
}

.new-list .item-news {
    display: block;
    text-align: left;
}

.new-list .item-news img {
    height: var(--h-149);
}

.new-list .item-news p {
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
    text-overflow: ellipsis;
    height: var(--h-40);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--color-text-body);
    margin-top: var(--spacing-xs);
}

.news a.load-more-btn {
    padding-bottom: var(--spacing-md);
}

/* end news */

/* bottom-search */
.bottom-search {
    padding: var(--spacing-md) var(--spacing-lg);
}

.bottom-search .container ul {
    display: flex;
    gap: var(--spacing-xs);
    flex-wrap: wrap;
}

.bottom-search .container ul li {
    list-style: none;
    border-radius: var(--radius-2xl);
    background-color: var(--color-surface-page);
    cursor: pointer;
}

.bottom-search .container ul li a {
    color: var(--color-text-body);
    padding: var(--spacing-2xs) var(--spacing-md);
    display: block;
    font-size: var(--font-size-body-xsm);
    line-height: var(--line-height-body-xsm);
}
/* end bottom-search */
